/* General Formatting */
body {
	font-family: Arial;
}

/* Alignment Formatting */
.centered {
	text-align: center;
}

.left {
	text-align: left;
}

/* Table Formatting */
#table-header {
	background-color: rgb(0,191,255);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
}

tr {
  border-bottom: 1px solid black;
}


/* Flexbox Formatting for Task Abstraction */
.flex-item {
	flex: 25%;
	padding: 3px;
}

.flex-container {
	display: flex;
}

img {
	width: 100%;
}

/* Text Formatting for Task Abstraction */
p {
  text-align: left;
  font-size: 14px;
  color: DarkGreen;
}

/* Decoration Formatting*/
#decoration {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

circle {
	fill: CornflowerBlue;
	opacity: 50%;
}

rect {
	fill: CornflowerBlue;
	stroke: black;
  stroke-width: 4px;
}

circle:hover {
	stroke: black;
	stroke-width: 5;
}

rect:hover {
	fill: LightCoral;
}
